{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Volunteers Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <h2>Volunteers registration</h2>
          {% if error is sameas true %}
            <div class="alert alert-danger" role="alert">
              You did not fill in one of the fields. Please try again. 😥
            </div>
          {% endif %}
          <form role="form" id="form" method="post">
            <div class="form-group">
              <label class="form-control-label">Are you a...</label>
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                <select class="form-control" name="category" id="input-type">
                  <option value="student">Student</option>
                  <option value="business">Working Professional</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">First name</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="First name" name="first_name" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Last name</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Last name" name="last_name" type="text">
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">Email</label>
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" name="email" type="email">
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">Contact number</label>
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="+852 1234 5678" name="contact_no" type="tel">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Age</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Age" name="age" type="number">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Gender</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" name="gender" id="input-type">
                      <option value="male" selected>Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Company</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Company" name="company" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Position</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Position" name="position" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Years of working experience</label>
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="e.g. 5" name="years_of_working_experience" type="number">
              </div>
            </div>
            <div class="form-group">
              <label class="form-control-label">Spoken languages</label>
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" placeholder="Spoken languages" name="language" type="text">
              </div>
            </div>

            <div class="form-group">
              <label class="form-control-label">Educational level</label>
              <div class="input-group input-group-merge input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                <select class="form-control" name="education_level" id="input-type">
                  <option value="primary" selected>Primary</option>
                  <option value="secondary">Secondary</option>
                  <option value="tertiary">Tertiary</option>
                  <option value="bachelor's">Bachelor's Degree</option>
                  <option value="masters">Masters Degree</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Preferred timing</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="e.g. AM or PM" name="preferred_timing" type="text">
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label">Preferred student group</label>
                  <div class="input-group input-group-merge input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <select class="form-control" name="preferred_student_group" id="input-type">
                      <option value="primary" selected>Primary</option>
                      <option value="secondary">Secondary</option>
                      <option value="tertiary">Tertiary</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary mt-4" id="signup">Sign me up!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript">
  $(document).ready(function () {
    console.log("ok");
    $('#signup').on('click', function () {
      var $inputs = $('#form :input');
      var values = {};
      $inputs.each(function () {
        values[this.name] = $(this).val();
      });
      console.log(values);

      // $.ajax({
      //   url: "http://danieltan.org:8080/volunteers/update",
      //   type: "POST",
      //   contentType: "application/x-www-form-urlencoded", // send as JSON
      //   data: values,

      //   success: function () {
      //     //called when successful
      //     console.log("success");
      //   },

      //   error: function (e) {
      //     //called when there is an error
      //     console.error("error", e);
      //   },
      // });
    });
  });
</script>
{% endblock javascripts %}