{% extends 'layouts/base.html' %}

{% block title %} Edit Program {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 200px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Edit program</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form action="{{url_for('base_blueprint.add_program')}}", method="post">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Type</label>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" id="input-type" name=program_type>
                      <option value="Primary">Primary</option>
                      <option value="Secondary">Secondary</option>
                      <option value="Tertiary">Tertiary</option>
                      <option value="Special Events">Special Events</option>
                    </select>
                  </div>
                </div>
                <script>
                  var temp = "{{data.program_type}}";
                  var mySelect = document.getElementById('input-type');
                  
                  for(var i, j = 0; i = mySelect.options[j]; j++) {
                      if(i.value == temp) {
                          mySelect.selectedIndex = j;
                          break;
                      }
                  }
                </script>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-program-name">Program name</label>
                    <input type="text" id="input-program-name" class="form-control" name=name value="{{data.name}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-start-date">Start date</label>
                    <input type="date" id="input-start-date" class="form-control" name=start_date value="{{data.start_date.split(' ')[0]}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-end-date">End date</label>
                    <input type="date" id="input-end-date" class="form-control" name=end_date value="{{data.end_date.split(' ')[0]}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-host">Host name</label>
                    <input type="text" id="input-host" class="form-control" name=host value="{{data.host}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-ratio">Ratio</label>
                    <input type="number" id="input-ratio" class="form-control" name=ratio value="{{data.ratio}}">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-capacity">Capacity</label>
                    <input type="number" id="input-capacity" class="form-control" name=capacity value="{{data.capacity}}">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-program-format">Program format</label>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" id="input-format" name=program_format>
                      <option value="Face-to-face" selected>Face-to-face</option>
                      <option value="Online">Online</option>
                    </select>
                  </div>
                </div>
                <script>
                  var temp = "{{data.program_format}}";
                  var mySelect = document.getElementById('input-format');
                  
                  for(var i, j = 0; i = mySelect.options[j]; j++) {
                      if(i.value == temp) {
                          mySelect.selectedIndex = j;
                          break;
                      }
                  }
                </script>
              </div>
              <input type="hidden" id="program_id" name="program_id" value="{{data.program_id}}">
            </div>
            <div class="pl-lg-4">
              <button class="btn btn-success">Edit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
