{% extends 'layouts/base.html' %}

{% block title %} Add Program {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center" 
     style="min-height: 200px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add program</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Type</label>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" id="input-type">
                      <option value="">Primary</option>
                      <option value="">Secondary</option>
                      <option value="">Tertiary</option>
                      <option value="">Special Events</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-program-name">Program name</label>
                    <input type="text" id="input-program-name" class="form-control" placeholder="JA Finance for Future">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-start-date">Start date</label>
                    <input type="text" id="input-start-date" class="form-control">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-end-date">End date</label>
                    <input type="text" id="input-end-date" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-school">Host name</label>
                    <input type="text" id="input-school" class="form-control" placeholder="Host name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-age">Capacity</label>
                    <input type="number" id="input-age" class="form-control" placeholder="16">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-language">Language</label>
                    <input type="text" id="input-language" class="form-control" placeholder="Mandarin, Cantonese, English">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Program format</label>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" id="input-type">
                      <option value="" selected>Face-to-face</option>
                      <option value="">Online</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <button class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
