{% extends 'layouts/base.html' %}

{% block title %} Add Volunteer {% endblock title %}

{% block content %}

<div class="header pb-6 d-flex align-items-center"
  style="min-height: 200px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-12 order-xl-1">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Add volunteer</h3>
              {% if success is sameas true %}
                <div class="alert alert-success" role="alert">
                  Successfully added a new volunteer! 🥳
                </div>
              {% endif %}
              {% if error is sameas true %}
                <div class="alert alert-danger" role="alert">
                  You did not fill in one of the fields. Please try again. 😥
                </div>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-body">
          <form method="post">
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-category">Category</label>
                    <select class="form-control" name="category">
                      <option value="student">Student</option>
                      <option value="business">Working Professional</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First Name</label>
                    <input class="form-control" placeholder="First name" name="first_name" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last Name</label>
                    <input class="form-control" placeholder="Last name" name="last_name" type="text">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-contact-number">Contact number</label>
                    <input class="form-control" placeholder="+852 1234 5678" name="contact_no" type="tel">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input class="form-control" placeholder="Email" name="email" type="email">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-age">Age</label>
                    <input class="form-control" placeholder="Age" name="age" type="number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-gender">Gender</label>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" name="gender" id="input-type">
                      <option value="male" selected>Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-language">Language</label>
                    <input class="form-control" placeholder="Spoken languages" name="language" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-company">Company</label>
                    <input class="form-control" placeholder="Company" name="company" type="text">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-position">Position</label>
                    <input class="form-control" placeholder="Position" name="position" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-education">Education</label>
                    <!-- Have to make sure api accept only specific values, in case people inspect element & add arbitrary values -->
                    <select class="form-control" name="education_level" id="input-type">
                      <option value="primary" selected>Primary</option>
                      <option value="secondary">Secondary</option>
                      <option value="tertiary">Tertiary</option>
                      <option value="bachelor's">Bachelor's Degree</option>
                      <option value="masters">Masters Degree</option>
                    </select> </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-experience">Years of working experience</label>
                    <input class="form-control" placeholder="e.g. 5" name="years_of_working_experience" type="number">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-timing">Preferred Timing</label>
                    <input class="form-control" placeholder="e.g. AM or PM" name="preferred_timing" type="text">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-student-group">Preferred Student Group</label>
                    <select class="form-control" name="preferred_student_group" id="input-type">
                      <option value="primary" selected>Primary</option>
                      <option value="secondary">Secondary</option>
                      <option value="tertiary">Tertiary</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="pl-lg-4">
              <button class="btn btn-success">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}